.admin-product{
    width: 100%;
    height: 100%;
}

.list-product{
    width: 80%;
    margin: 1rem auto;

    display: flex;
    flex-direction: column;
}
.product{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

.product-image{
    width: 20%;
}
.product .price{
    width: 20%;
}
.product .type{
    width: 20%;
}
.product .name{
    width: 20%;
}
.product .delete{
    width: 20%;
}
.product .img{
    width: 100px;
    height: 100px;
}

.pagination button{
    margin: 0 .5rem;
    cursor: pointer;
    text-align: center;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    transition: .3s;
    padding: 8px 12px;
}
.pagination button:hover{
    color: #eb4d4b;
}

.pagination .active button{
    border: 1px solid #eb4d4b;
}


  

  
